.contenedor {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.servicios {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.promocion {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}