<body>
    <!-- carrusel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/dentista-examinando-dientes-paciente-femenino.jpg" class="d-block w-100"
                    style="height: 400px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/dentista-examinando-paciente-herramientas.jpg" class="d-block w-100"
                    style="height: 400px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/foto-dentista-sonriente-pie-brazos-cruzados-su-colega-mostrando-signo-bien.jpg"
                    class="d-block w-100" style="height: 400px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/pexels-daniel-frank-287237.jpg" class="d-block w-100"
                    style="height: 400px;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- carrusel -->

    <br>

    <div class="contenedor">
        <div class="servicios">
            <p class="contenido">Limpieza</p>
            <p>Adiós, manchas, sarro y placa dentobacteriana. Dile hola a tu salud bucal.</p>
        </div>
        <div class="servicios">
            <p class="contenido">Prótesis</p>
            <p>Recupera la comodidad y la sonrisa con la rehabilitación total de los dientes.</p>
        </div>
        <div class="servicios">
            <p class="contenido">Ortodoncia</p>
            <p>Evita problemas de caries e inflamación
                de las encías con una correcta alineación de los dientes. </p>
        </div>
        <div class="servicios">
            <p class="contenido">Implantes</p>
            <p>Te regresamos la funcionalidad y estética en beneficio de tu salud y sonrisa.</p>
        </div>
    </div>
</body>